{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
			"ssr": true,
			"displayName": true,
			"preprocess": false
			}
		],
		"lodash",
		[
			"babel-plugin-import",
			{
				"libraryName": "@material-ui/core",
				// Use "'libraryDirectory': ''," if your bundler does not support ES modules
				// "libraryDirectory": "esm",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"core"
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@material-ui/icons",
				// Use "'libraryDirectory': ''," if your bundler does not support ES modules
				// "libraryDirectory": "esm",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"icons"
		],
		"@babel/plugin-proposal-export-default-from"
	]
}